.table_bg {
        background-color: #C6CBCE;
}
.table_head{
        background-color: #D6DBDE;
        color: #463C38;
}
.table_col_0{
        background-color: #F6FBFE;
        color: #463C38;
}
.table_col_1{
        background-color: #E6EBEE;
        color: #463C38;
}
